@import '@styles/variables';

.ad {
  text-decoration: none;

  &:hover {
    .adTitle {
      text-decoration: underline;
    }
  }

  .media {
    position: relative;
    background-color: lightgrey;

    position: relative;
    background-color: lightgrey;

    img {
      width: 100%;
      height: auto;
    }

    // .vimeoContainer {
    // }

    .countdown {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;


      .label {
        @include font-sm;
        margin-bottom: 20px;
        color: #fff;
      }

      .time {
        @include heading-md;
        font-weight: 500;
        color: #fff;
      }
    }

  }

  .details {
    width: 100%;
    .label {
      text-align: center;
      @include font-sm;
      margin: 20px 0;
    }
    .adTitle {
      text-align: center;
      @include heading-md;
      font-weight: 500;
      margin: 20px 0;
    }
  }  
}