@import '@styles/variables';

.brands {

  .label {
    @include font-sm;
    margin: 10px 10px;
  }
  
  .line {
    @include line;
  }

  .brandList {
    margin: 20px 0px;

    .brand {
      width: calc(1/6 * 100%);
      display: inline-block;
      vertical-align: top;
      margin: 0px 10px 10px;

      @include heading-md;
      font-weight: 500;
      text-decoration: none;

      &.active,
      &:hover {
        text-decoration: underline;
      }
    }
  }
}