@import '@styles/variables';

.modal {
	display: none;

	.background {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(34, 34, 34, 0.7)
	}

	.content {
		position: absolute;
		top: 60px;
		left: 40px;
		width: 70%;
		padding: 60px 0 0;
		
		background-color: #fff;


		.close {
			display: inline-block;
			padding: 10px 0 10px 40px;
			cursor: pointer;
			@include font-sm;
		}

		.media {
				width: calc(100% - 80px);
				margin-bottom: 60px;
				padding-left: 40px;
				padding-right: 40px;

				.imageContainer {
					img {
						width: 100%;
						height: auto;
					}
				}
				.galleryContainer {}
			}

		.article {
			// min-height: 101vh;
			// margin: 1rem 3rem 1rem 1rem;
			max-width: 660px;
			text-align: center;
			margin: 0 auto;
			padding-left: 40px;
			padding-right: 40px;

			.date {
				@include font-sm;
				margin-bottom: 20px;
			}

			.title {
				@include heading-md;
				text-transform: uppercase;
				font-weight: 500;
				margin-bottom: 20px;
			}

			.link {
				@include heading-md;
				text-transform: uppercase;
				font-weight: 500;
			}

			.p {
				@include font-md;
				line-height: 1.1em;
				margin-bottom: 40px;

				a {
					text-decoration: none;
					color: yellow;
					&:hover {
						text-decoration: underline;
					}
				}
			}
		}

		.line {
			@include line;
		}

		.nextPost {
			text-align: left;
			padding: 20px;
			.label {
				@include font-sm;
			}
			.title {
				@include heading-md;
			}
		}
	}
}