@import '@styles/variables';

.grid {

  .category {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 100px;

    a {
      margin: 0 60px;
      text-decoration: none;
      @include heading-md;
      font-weight: 500;
      text-transform: uppercase;

      &.active,
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .postList {
    margin: 0 10px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0 14px;
    grid-auto-rows: 10px;

    @media (min-width: $tablet) {
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 0 20px;
        grid-auto-rows: 20px;
    }

    @media (min-width: $large-desktop) {
        grid-auto-rows: 30px;
    }

  }
}